/* Estilos para centrar el contenido en la página de Canciones */
.canciones-section {
    text-align: center; /* Centra el contenido en horizontal */
    max-width: 800px; /* Limita el ancho máximo del contenido para que no se extienda demasiado en pantallas grandes */
    margin: 0 auto; /* Centra el contenido horizontalmente en el centro de la pantalla */
  }
  
  /* Estilo para la imagen principal */
  .canciones-section img {
    max-width: 100%; /* Ajusta la imagen principal al ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  /* Estilos para el título y el párrafo */
  .canciones-section h1,
  .canciones-section p {
    margin: 20px 0; /* Espacio vertical alrededor del título y el párrafo */
    text-align: justify; /* Justifica el texto del párrafo */
  }
  
  /* Estilos para las imágenes de las canciones */
  .fila {
    display: flex; /* Crea una fila horizontal con las imágenes */
    justify-content: center; /* Centra las imágenes horizontalmente en la fila */
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan a la siguiente línea si no caben en pantalla */
    margin-top: 20px; /* Espacio superior entre la descripción y las imágenes */
  }
  
  .fila a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    margin: 10px; /* Espacio entre las imágenes */
    flex: 1; /* Distribuye el espacio disponible entre las imágenes de manera equitativa */
    max-width: calc(25% - 20px); /* Limita el ancho máximo de cada imagen al 25% del contenedor menos el espacio entre ellas */
  }
  
  .fila img {
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes al 100% del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
  }
  