.fabu{
  display: flex;
  align-items: center;
  width: 100%;
  min-height:400px;
  padding: 0 400px;
  position: relative;
}

.fabu .fb{
overflow: hidden;
width: 16rem;
height: 240px;
}

.modi{
transition: transform 0.3s ease;
}

.img-container{
overflow: hidden;
}

.img-container:hover .modi{
transform: scale(1.1);
}

.fb .card-body{
background-color: #007BFF;
color: #fff;
text-align: center;
font-weight: bold;
font-size: 20px;
}

.fabu .carta1{
position: absolute;
left: 36%;
bottom: 0px;
}

.fabu .carta2{
position: absolute;
bottom: 0;
left: 51%;
}

.fabu .carta3{
position: absolute;
bottom: 0;
left: 66%;
}

.fabu .carta5{
position: absolute;
bottom: 264px;
left: 36%;
}

.fabu .carta6{
position: absolute;
bottom: 264px;
left: 51%;
}

.fabu .carta7{
position: absolute;
bottom: 264px;
left: 66%;
}

.fabu2{
display: flex;
align-items: center;
width: 100%;
padding: 0 400px;
position: relative;
justify-content: center;

}

.fabu2 hr{

  height: 3px; 
  background-color:black; 
  border: none; 
  margin: 20px 0; 
  width: 1100px;
}

.fabu2 .unico{
font-family: 'Young Serif', serif;
}

.fabu3{
display: flex;
align-items: center;
width: 100%;
padding: 0 500px;
position: relative;
}

.fabu3 .fb{
  overflow: hidden;
  width: 16rem;
  height: 240px;
}

.fabu3 .carta9{
position: absolute;
bottom:0;
left:43%;
}

.fabu3 .carta10{
position: absolute;
bottom: 0;
left: 60%;
}

.elegido{
padding: 0 400px;
}

.elegido hr{
height: 3px; 
background-color:black; 
border: none; 
margin: 20px 0; 
width: 1100px;
}
