/* Estilos para el cuerpo y el documento HTML */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Estilos para la sección de bienvenida */
.welcome-section {
    background-color: #2c2b2b; /* Fondo gris */
    height: 100vh; /* Toma toda la altura de la pantalla */
    display: flex;
    flex-direction: column; /* Alineación vertical */
    justify-content: center;
    align-items: center;
    text-align: center; /* Alineación del texto */
}

/* Estilos para el título "Welcome" */
.welcome-title {
    font-size: 5rem; /* Tamaño de fuente grande */
    color: white; /* Inicialmente blanco */
    animation: colorChange 2s linear infinite; /* Animación para cambiar de color */
    margin-bottom: 20px; /* Espacio entre el título y el botón */
}

.atras-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: green; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none;
    border: 1px solid green; /* Borde del botón */
    border-radius: 5px;
  }
  
  .atras-button:hover {
    background-color: #555; /* Color de fondo al pasar el mouse por encima */
  }
  

@keyframes colorChange {
    0% {
        color: white; /* Inicio en blanco */
    }
    50% {
        color: green; /* Cambia a verde a la mitad de la animación */
    }
    100% {
        color: white; /* Vuelve a blanco al final de la animación */
    }
}
