*{
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #fff;
}

body{
    width: 100vw;
    height: 100vh;
    background: #081b29;
    display: grid;
    justify-content: center;
    align-content: center;
}

::-webkit-input-placeholder{
    color: #eee;
}

.wrapper{
    position: relative;
    width: 1000px;
    height: 65vh;
    display: grid;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 35px;
}

.inp{
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.input{
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 17px;
    color: #0ef;
}

.submit{
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #C800ff);
    transition: background 0.3s; /* Agregamos una transición suave */
}

.submit:hover {
    background: linear-gradient(45deg, #C800ff, #0ef); /* Cambiamos los colores al hacer hover */
}
.footer{
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.link{
    color: #0ef;
    text-decoration: none;
}

.banner{
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: linear-gradient(to right, #0ef, #c800ff);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    padding-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wel_text{
    font-size: 40px;
    margin-top: -50px;
    line-height: 50px;
}

.para{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}

.atras-button {
    display: block;
    text-align: center;
    margin-top: 40px; /* Aumentar el margen superior para separarlo más abajo */
    text-decoration: none;
    color: #0ef;
    font-weight: bold;
    font-size: 24px; /* Aumentar el tamaño del texto */
    padding: 10px 20px; /* Aumentar el relleno para hacer el botón más grande */
  }
  
  .atras-button:hover {
    color: #fff;
  }
 
  @media (max-width: 1200px){
    .wrapper{
        position: relative;
        width: 800px;
        height: 65vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 3px solid #00ffff;
        box-shadow: 0 0 50px 0 #00a6bc;
    }

  }

  @media (max-width: 1015px){
    .wrapper{
        position: relative;
        width: 600px;
        height: auto;
        grid-template-columns: 1fr;
        border: 3px solid #00ffff;
    }
    .column {
        width: 100%; /* Ancho del 100% para ocupar toda la pantalla */
    }

    .wel_text {
        font-size: 40px;
        margin-top: 20px; /* Aumenta el margen superior para evitar que se corte el texto */
        line-height: 50px;
    }

    .title {
        font-family: 35px;
        margin-top: 40px; /* Agrega un margen superior para separar el título del borde superior */
    }
    
    
    .banner{
        width: 100%; /* Ancho del 100% para ocupar toda la pantalla */
        top: -100px;
        position: relative; /* Cambia la posición a relativa para que fluya en el documento */
        margin-top: 100px;
        width: auto;
        height: 100%;
        background: linear-gradient(to right, #0ef, #c800ff);
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
        padding-right: 70px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

  }


  /* Media query para pantallas medianas */
@media (max-width: 768px) {
    .wrapper{
        position: relative;
        width: 500px;
        height: auto;
        grid-template-columns: 1fr;
        border: 3px solid #00ffff;
    }
    .column {
        width: 100%; /* Ancho del 100% para ocupar toda la pantalla */
    }

    .wel_text {
        font-size: 40px;
        margin-top: 20px; /* Aumenta el margen superior para evitar que se corte el texto */
        line-height: 50px;
    }

    .title {

        font-size: 25px;
        margin-top: 40px; /* Agrega un margen superior para separar el título del borde superior */
    }
    
    
    .banner{
        width: 100%; /* Ancho del 100% para ocupar toda la pantalla */
        top: -100px;
        position: relative; /* Cambia la posición a relativa para que fluya en el documento */
        margin-top: 100px;
        width: auto;
        height: 100%;
        background: linear-gradient(to right, #0ef, #c800ff);
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
        padding-right: 70px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .wrapper{
        position: relative;
        width: 400px;
        height: auto;
        grid-template-columns: 1fr;
        border: 3px solid #00ffff;
    }
    .column {
        width: 100%; /* Ancho del 100% para ocupar toda la pantalla */
    }

    .wel_text {
        font-size: 30px;
        margin-top: 20px; /* Aumenta el margen superior para evitar que se corte el texto */
        line-height: 50px;
    }

    .title {
        font-family: 35px;
        margin-top: 40px; /* Agrega un margen superior para separar el título del borde superior */
    }
    
    
    .banner{
        width: 100%; /* Ancho del 100% para ocupar toda la pantalla */
        top: -100px;
        position: relative; /* Cambia la posición a relativa para que fluya en el documento */
        margin-top: 100px;
        width: auto;
        height: 100%;
        background: linear-gradient(to right, #0ef, #c800ff);
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
        padding-right: 70px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Media query para pantallas pequeñas o dispositivos móviles */
@media (max-width: 500px) {

    .wel_text {
        font-size: 20px;
        margin-top: 20px; /* Aumenta el margen superior para evitar que se corte el texto */
        line-height: 50px;
    }
    .wrapper {
        width: 100%; /* Utiliza todo el ancho de la pantalla */
    }
    .atras-button {
        margin-top: 20px; /* Aumenta el margen superior para separar el botón "Atrás" */
    }

    .banner{
        width: 100%; /* Ancho del 100% para ocupar toda la pantalla */
        top: -100px;
        position: relative; /* Cambia la posición a relativa para que fluya en el documento */
        margin-top: 100px;
        width: auto;
        height: 100%;
        background: linear-gradient(to right, #0ef, #c800ff);
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
        padding-right: 70px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
  